* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* navabar */
nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #739072;
}

nav .logo img {
  width: 150px;
}

nav ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

nav li {
  list-style: none;
  padding-top: 30px;
}

nav ul li a {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  text-decoration: none;
  font-size: 1.05rem;
  font-weight: bold;
  color: #ece3ce;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
  background-color: #ece3ce;
  color: #739072;
}

/* jumbotron */
.jumbotron {
  display: grid;
  padding-bottom: 2%;
  grid-template-columns: auto auto auto;
  padding-top: 7rem;
}
.content {
  padding-left: 50px;
  padding-top: 30px;
}

.content-img {
  flex: 1;
  display: flex;
}
.content-img img {
  width: 350px;
  border-radius: 50%;
  margin-left: 190px;
}

.content h1 {
  font-size: 60px;
  color: #3a4d39;
  letter-spacing: 2px;
  font-weight: bold;
}

.content h1 span {
  color: #cab37c;
  padding-top: 8px;
  display: block;
}

.content p {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 200;
}
.content span {
  display: block;
}

.jumbotron button {
  padding: 0.6rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 999px;
  margin-block-start: 1.5rem;
  background-color: #647b69;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.jumbotron button a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: #e1d7cc;
}

.jumbotron a:hover {
  text-decoration: none;
  color: #cab37c;
}

.jumbotron button:hover {
  border: 3px solid #647b69;
  background-color: transparent;
}

/* about */

.about {
  display: grid;
  padding-bottom: 2%;
  grid-template-columns: auto auto auto;
  padding-top: 3rem;
  margin-left: 50px;
}

.about-description {
  padding-left: 50px;
  padding-top: 30px;
}

.about-description h1 {
  font-size: 60px;
  color: #3a4d39;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 40px;
}

.about-description p {
  padding-top: 20px;
  font-size: 17px;
  font-weight: 200;
  width: 45%;
}

.about-image img {
  margin-top: 90px;
  width: 350px;
  border-radius: 10px;
}

/* aside */
aside {
  background: #e1d7cc;
  padding: 30px 10px;
  max-width: 20%;
  overflow: auto;
  z-index: 0;
  border-radius: 10px;
  float: right;
  margin-top: -370px;
  margin-right: 10px;
}

aside img {
  width: 100px;
  border-radius: 50%;
  margin-left: 80px;
}

aside h3 {
  margin: 0;
  text-align: center;
  padding-left: 20px;
}

aside p {
  margin: 0;
  text-align: center;
}

aside ul {
  display: flex;
  justify-content: center;
  gap: 1rem 1rem;
}

aside li {
  list-style: none;
  padding-top: 20px;
}

aside ul li a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}

/* recepies */
.recepie-description {
  padding-left: 50px;
  padding-top: 30px;
}

.recepie-description h1 {
  font-size: 60px;
  color: #3a4d39;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 40px;
}

.recepie-description p {
  padding-top: 15px;
  font-size: 17px;
  font-weight: 200;
  width: 75%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: grid;
  padding-bottom: 2%;
  grid-template-columns: auto;
  margin-top: 30px;
  margin-left: 50px;
}

.card img {
  margin: 30px;
  width: 350px;
  border-radius: 10px;
}

.card h2 {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}

.card h4 {
  font-size: 20px;
  font-weight: 900;
  margin-left: 25px;
  margin-top: 10px;
}

.card li {
  margin-left: 50px;
  margin-top: 10px;
  width: 80%;
}

/* meal plans */
.plan-description {
  padding-left: 50px;
  padding-top: 30px;
}

.plan-description h1 {
  font-size: 60px;
  color: #3a4d39;
  letter-spacing: 2px;
  font-weight: bold;
  margin-top: 40px;
}

.plan-description p {
  padding-top: 15px;
  font-size: 17px;
  font-weight: 200;
  width: 75%;
}

.planer {
  display: grid;
  padding-bottom: 2%;
  grid-template-columns: auto auto auto;
  padding-top: 3rem;
  margin-left: 50px;
}

.plans img {
  border-radius: 10px;
  width: 300px;
}

.text-plan h1 {
  margin-top: 10px;
}

.text-plan button {
  padding: 0.6rem 2.5rem;
  border: 3px solid transparent;
  border-radius: 10px;
  margin-block-start: 1.5rem;
  background-color: #e1d7cc;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

/* footer */
footer {
  padding: 20px;
  color: white;
  background-color: #739072;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

/* hamburger menu */
.menu-toggle {
  height: 20px;
  display: none;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.menu-toggle input {
  top: -2px;
  z-index: 2;
  opacity: 0;
  width: 50px;
  left: -13px;
  height: 24px;
  cursor: pointer;
  position: absolute;
}

.menu-toggle span {
  width: 24px;
  height: 3px;
  display: block;
  border-radius: 3px;
  transition: all 0.5s;
  background-color: #ece3ce;
}

/* hamburger menu animasi */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(2px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}

/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  nav {
    flex-direction: column;
    padding-bottom: 15px;
  }

  .jumbotron {
    padding-top: 150px;
  }
  .content-img {
    margin-left: 100px;
  }
  div .about {
    flex-direction: column;
    gap: 2rem;
  }
  main .about p {
    width: 480px;
  }

  aside {
    margin-top: 50px;
    margin-left: 200px;
    max-width: 100%;
    margin-bottom: 50px;
  }
  aside img {
    margin-left: 220px;
  }

  .recepie-description {
    width: 900px;
  }

  .planer {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-left: 250px;
  }

  .plan-description {
    width: 900px;
  }
  .text-plan {
    margin-bottom: 20px;
  }

  footer {
    width: 94cap;
  }
}

/* Perangkat dengan lebar layar 576px dan di bawahnya */
@media screen and (max-width: 576px) {
  aside {
    max-width: 100%;
    margin-bottom: 50px;
    margin-right: -250px;
  }
  aside img {
    margin-left: 225px;
  }

  .menu-toggle {
    display: flex;
    margin-left: 95%;
  }

  nav ul {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #739072;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
  }

  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
}
